<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <style media="screen">

    .inlineblock{
      display: inline-block;
      width: 300px;
      padding:5px;
    }

    .widthdouble{
      width:300px;
      margin-left: 50px;
      margin-right: 50px;
    }

    </style>
  </head>
  <body>

<div class="inlineblock">
  Become inspired by mediocre productions.
  Don’t covert production and  experimentation recipe.
  Always leave the edges rough, so that  someone can cut themselves.
</div>

<div class="inlineblock widthdouble">
  Become inspired by mediocre productions.
  Don’t covert production and  experimentation recipe.
  Always leave the edges rough, so that  someone can cut themselves.
</div>

<div class="inlineblock">
  Become inspired by mediocre productions.
  Don’t covert production and  experimentation recipe.
  Always leave the edges rough, so that  someone can cut themselves.
</div>



  </body>
</html>
