body{
  padding:20px;
}
.first{
  font-size: 10px;
}
.o{
  font-family: helvetica;
  font-weight: lighter;
}
.t{
  font-family: garamond;
}
.column{
  margin: 20px;
  width: 550px;
  text-align: left;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1 0 50%;
}
.one {
  font-family: helvetica;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 10px;
}

.two{
  font-family: garamond;
  font-size: 14px;
  color: slategrey;
  padding-left: 10px;
}

.heading{
  font-size: 18px;
}

.photographer{
  font-size: 8px;
  color: darksalmon;
  position:absolute;
  left:1000px;
  top: 210px;
  width: 200px;
  text-align: right;
  display: none;
}
.photographer.showme{
  display: block;
}

a:visited{
  color:salmon;
  text-decoration: none;
}
a:hover{
    color: paleturquoise;
    text-decoration: none;
  }

.beautiful{
  color:darksalmon;
}
.beaut{
  font-size: 10px;
  color: salmon;
  position:fixed;
  left:1000px;
  top: 20px;
  width: 250px;
  text-align: right;
  display:none;
  background-color: ghostwhite;
  padding: 2px;
}
.beaut.showme{
  display: block;
}
.iPhone{
  color: darksalmon;
}
.iimage{
  position: fixed;
  left:40px;
  top: 0px;
  display: none;
}
.iimage.showme{
  display: block;
}

.italic{
  text-transform: uppercase;
}

.iiimage{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.iiimage.showme{
  display: block;
}
.homer{
  color: darksalmon;
}
.adam{
  color: darksalmon;
}
.iiiimage{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.iiiimage.showme{
  display: block;
}
.cog{
  color: darksalmon;
}
.iiiiimage{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.iiiiimage.showme{
  display: block;
}
.moses{
  color: darksalmon;
}
.pic{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.pic.showme{
  display: block;
}
.ark{
  color: darksalmon;
}
.piic{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.piic.showme{
  display: block;
}
.david{
  color: darksalmon;
}
.piiic{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.piiic.showme{
  display: block;
}
.awful{
  color: darksalmon;
}
.photo{
  position:fixed;
  left: 48px;
  top:0px;
  display: none;
}
.photo.showme{
  display: block;
}
