* {
  box-sizing: border-box;
}

body{
  background-color: white;
}

a:visited{
  color: pink;
  text-decoration: overline;
}

a:link{
  color: pink;
  text-decoration: underline;
}

a:hover{
  color: plum;
  text-decoration: line-through;
}

.centre{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  z-index: 1;
  opacity: 1;
  transition: all 2s;
}

.centre.hide{
  opacity: 0;
  transition: all 2s;
}


.heading{
  margin-top: -300px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  z-index: 1;
animation-name: heading;
animation-duration:2s;
animation-iteration-count: infinite;
}
.heading.hide{
  display: none;
}
@keyframes heading{
  0%   {color: pink;}
  25%  {color: salmon;}
  50%  {color: coral;}
  100% {color: peachpuff;}
}

.midimage{
  opacity: 0;
  filter: blur(10px);
  transition: 1s;
}
.midimage.showme{
  opacity: 1;
  filter: blur(0);
  transition: 1s;
}
.caption{
  font-size: 12px;
}
.captiona1{
  font-family: 'Amatic SC';
  animation-name: captiona1;
  animation-duration:2s;
  animation-iteration-count: infinite;
  display: none;
}
.captiona1.showme{
  display: block;
}
@keyframes captiona1{
    0%   {color: salmon;}
    25%  {color: coral;}
    50%  {color: peachpuff;}
    100% {color: pink;}
}
.captiona2{
  font-family: 'Just Me Again Down Here';
  animation-name: captiona2;
  animation-duration:2s;
  animation-iteration-count: infinite;
}
@keyframes captiona2{
    0%   {color: salmon;}
    25%  {color: coral;}
    50%  {color: peachpuff;}
    100% {color: pink;}
}
.captiona3{
    font-family: 'barrio';
    animation-name: captiona3;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }
  @keyframes captiona3{
      0%   {color: salmon;}
      25%  {color: coral;}
      50%  {color: peachpuff;}
      100% {color: pink;}
  }

.nav__1of6{
  font-size: 6pt;
  color: grey;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 4
}

.nav__2of6{
  font-size: 6pt;
  color: plum;
  position: fixed;
  top:20px;
  right: 20px;
  z-index: 5;
}
.nav__3of6{
  font-size: 6pt;
  color: grey;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 4
}

.nav__4of6{
  font-family: 'Just Me Again Down Here';
  font-size: 6pt;
  color: plum;
  position: fixed;
  top:20px;
  right: 20px;
  z-index: 5;
}
.nav__5of6{
  font-size: 6pt;
  color: grey;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 4
}

.nav__6of6{
  font-size: 6pt;
  color: plum;
  position: fixed;
  top:20px;
  right: 20px;
  z-index: 5;
}

.left{
  font-family: helvetica;
  font-weight: lighter;
}

.articlel{
  padding: 20px 70px 20px 70px;
  font-size: 12px;
  height: 100vh;
  width: 50vw;
  background-color: whitesmoke;
  position: fixed;
  left: -45vw;
  top: 0px;
  z-index: 2;
  transition: all 2s;
  overflow: scroll;
}

.articlel.showme{
  left: 0;
}

.tro{
  font-family: 'Amatic SC';
  font-weight: lighter;
}

.trtw{
  font-family: 'Just Me Again Down Here';
  font-weight: lighter;
}

.trth{
  font-family: 'Barrio';
  font-weight: lighter;
}

.articler{
  padding: 20px 70px 20px 70px;
  font-size: 12px;
  height: 100vh;
  width: 50vw;
  color: grey;
  background-color: seashell;
  position: fixed;
  right: -45vw;
  top: 0px;
  z-index: 3;
  transition: all 2s;
  overflow: scroll;
}

.articler.showme{
  right: 0;
}

.rollover{
  color: salmon;
  text-decoration: line-through;
}

.rollover:hover{
  text-decoration: overline;
}

.blur{
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
  transition: all 2s;
}

.blur.showme{
  opacity:1;
  filter: blur(0);
  transition: all 2s;
}

.scale{
  position: fixed;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: all 2s;
}

.scale.showme{
  opacity:1;
  transform: scale(1);
  transition: all 2s;
}

.rotate{
  position: fixed;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  pointer-events: none;
  transition: all 2s;
}

.rotate.showme{
  opacity:1;
  transform: scale(1) rotate(360deg);
  transition: all 2s;
}

.spin{
  position: fixed;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  pointer-events: none;
  transition: all 2s;
}

.spin.showme{
  opacity:1;
  transform: scale(1) rotate(630deg);
  transition: all 2s;
}



/* NOTE: article one */

.facebookimage{
  border: solid 200px;
  border-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}

.twitterimage{
  border: solid 80px;
  border-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}

.iphoneimage{
  position: fixed;
  top: 0px;
  left: 60px;
}

.homerimage{
  border: solid 200px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.adamimage{
  border: solid 100px;
  border-color: white;
  position: fixed;
  top: 0vh;
  left: 0px;
}

.drunkimage{
  border: solid 120px;
  border-color: white;
  position: fixed;
  top: 0vh;
  left: 50px;
}

.cognitiveimage{
  border-left: solid 80px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.mosesimage{
  border: solid 150px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:2px;
}

.arkimage{
  position: fixed;
  top: 0px;
  left:2px;
}

.carsonimage{
  position: fixed;
  top: 0px;
  left:50px;
}

.fontimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:75px;
}

.notimage{
  border: solid 30px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.nyimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:50px;
}

.columnimage{
  border: solid 200px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.mediumimage{
  border: solid 80px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.forgetimage{
  border: solid 80px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:100px;
}

.siliconimage{
  border: solid 50px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:50px;
}

.userimage{
  border: solid 100px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:50px;
}

.consumeimage{
  border: solid 5px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:60px;
}


/* NOTE: article two */

.familiarimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:100px;
}

.teacherimage{
  border: solid 150px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:0px;
}

.cognitionimage{
  border: solid 100px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:50px;
}

.encodeimage{
  position: fixed;
  width: 675px;
  height: auto;
  top: 185px;
  left:0px;
}

.learningimage{
  position: fixed;
  top: 100px;
  left:180px;
}

.longimage{
  position: fixed;
  height: 650px;
  width: auto;
  top: 15px;
  left:50px;
}

.engageimage{
  border: solid 100px;
  border-color: white;
  position: fixed;
  top: 0px;
  left:50px;
}

.alienimage{
  position: fixed;
  top: 15px;
  left:100px;
}

.arialimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:70px;
}

.comicimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:70px;
}
.bodoniimage{
  position: fixed;
  top: 200px;
  left:100px;
}

.ninetyimage{
  position: fixed;
  top: 200px;
  left:250px;
}

.fourteenimage{
  position: fixed;
  top: 200px;
  left:200px;
}

.ppimage{
  position: fixed;
  top: 200px;
  left:200px;
}

.gorillaimage{
  position: fixed;
  top: 100px;
  left: 150px;
}

.chrisimage{
  position: fixed;
  top: 200px;
  left: 150px;
}
.danimage{
  position: fixed;
  top: 200px;
  left: 200px;
}

.storeimage{
  position: fixed;
  width: 550px;
  height: auto;
  top: 150px;
  left: 75px;
}

.atobimage{
  position: fixed;
  width: 675px;
  height: auto;
  top: 150px;
  left: 50px;
}
.englandimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left:150px;
}
.usaimage{
  position: fixed;
  width: 675px;
  height: auto;
  top: 160px;
  left: 0px;
}
.slowimage{
  position: fixed;
  top: 5px;
  left: 50px;
}

.studentsimage{
  position: fixed;
  top: 200px;
  left: 200px;
}

.autoimage{
  position: fixed;
  top: 75px;
  left: 75px;
}

.holesimage{
  position: fixed;
  top: 200px;
  left: 175px;
}

.ddimage{
  position: fixed;
  top: 150px;
  left: 100px;
}

.deeperimage{
  position: fixed;
  top: 220px;
  left: 200px;
}

.puzzimage{
  position: fixed;
  top: 220px;
  left: 220px;
}

.bangimage{
  position: fixed;
  top: 175px;
  left: 125px;
}
.emoryimage{
  position: fixed;
  top: 250px;
  left: 250px;
}

.scratchimage{
  position: fixed;
  top: 175px;
  left: 250px;
}
.pushimage{
  position: fixed;
  top: 250px;
  left: 250px;
}



/* NOTE: list items article 2 */

.list__1of4{
  animation-name: listone;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
.list__1of4.showme{
  text-transform: uppercase;
}

@keyframes listone{
    0%   {color: pink;}
    25%  {color: salmon;}
    50%  {color: coral;}
    100% {color: peachpuff;}
}

.list__2of4{
  animation-name: listtwo;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
.list__2of4.showme{
  text-transform: uppercase;
}
@keyframes listtwo{
    0%   {color: salmon;}
    25%  {color: coral;}
    50%  {color: peachpuff;}
    100% {color: pink;}
}
.list__3of4{
  animation-name: listthree;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
.list__3of4.showme{
  text-transform: uppercase;
}
@keyframes listthree{
    0%   {color: coral;}
    25%  {color: peachpuff;}
    50%  {color: pink;}
    100% {color: salmon;}
}
.list__4of4{
  animation-name: listfour;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
.list__4of4.showme{
  text-transform: uppercase;
}
@keyframes listfour{
    0%   {color: peachpuff;}
    25%  {color: pink;}
    50%  {color: salmon;}
    100% {color: coral;}
}


/* NOTE: article three */

.climbimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left: 0px;
}
.robimage{
  position: fixed;
  width: 550px;
  height: auto;
  top: 150px;
  left: 80px;
}
.barbimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left: 120px;
}
.jasonimage{
  position: fixed;
  top: 200px;
  left: 200px;
}
.victorimage{
  position: fixed;
  width: 550px;
  height: auto;
  top: 0px;
  left: 75px;
}
.michaelimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left: 0px;
}

.hermanimage{
  position: fixed;
  height: 675px;
  width: auto;
  top: 0px;
  left: 125px;
}
.shakeimage{
  position: fixed;
  width: 550px;
  height: auto;
  top: 70px;
  left: 75px;
}
.drawingsimage{
  position: fixed;
  top: 200px;
  left: 230px;
}

.swerveimage{
  position: fixed;
  top: 150px;
  left: 250px;
}
.stephenimage{
  position: fixed;
  width: 550px;
  height: auto;
  top: 150px;
  left: 75px;
}
.georgeimage{
  position: fixed;
  top: 130px;
  left: 180px;
}
.johnimage{
  position: fixed;
  top: 190px;
  left: 200px;
}

.iq84image{
  position: fixed;
  top: 200px;
  left: 240px;
}
.harukiimage{
  position: fixed;
  top: 200px;
  left: 230px;
}
.spaldingimage{
  position: fixed;
  top: 190px;
  left: 220px;
}

.joanimage{
  position: fixed;
  top: 200px;
  left: 230px;
}
.blueimage{
  position: fixed;
  top: 200px;
  left: 240px;
}
.garryimage{
  position: fixed;
  top: 190px;
  left: 240px;
}

.darntonimage{
  position: fixed;
  top: 150px;
  left: 250px;
}
.pfaffimage{
  position: fixed;
  top: 130px;
  left: 180px;
}
.volckerimage{
  position: fixed;
  top: 190px;
  left: 200px;
}
.hudsonimage{
  position: fixed;
  top: 260px;
  left: 100px;
}

.no{
  animation-name: no;
  animation-duration:2s;
  animation-iteration-count: infinite;
}


@keyframes no{
    0%   {color: pink;}
    25%  {color: salmon;}
    50%  {color: coral;}
    100% {color: peachpuff;}
}
