.Box{
  height:100px;
  width:300px;
  color: lightgrey;
  font-size: 30px;
  font-family: tahoma;
  background-color: peachpuff;
  border: 2px;
  border-style: solid;
  border-color: lightgrey;
  text-align: center;
}
